body{
    background: rgb(215, 213, 213);
    font-family: Arial, Helvetica, sans-serif;
}
#heading{
    text-align: center;
    margin: auto;
    margin-top: 60px;
}
.input{
    background-color: rgb(247, 247, 165);
    text-align: center;
    margin-left: 270px;
    margin-right: 270px;
    height: 90px;
}
#number{
    padding: 10px;
    width: 50px;
    margin-left: -70px;
}
.input p{
    margin-top: 20px;
}
#submit{
    padding: 10px;
    margin-left: 20px;
    background-color: transparent;
    border: 2px solid gray;
    cursor: pointer;
}
#submit:hover{
    background-color: rgb(189, 194, 130);
}
#invisible{
    background-color: rgb(94, 94, 94);
    margin-left: 270px;
    margin-right: 270px;
    height: 60px;
    padding: 10px;
    text-align: center;
    color: white;
}